<div class="row">
    <div class="col-12 text-right mb-4">
        <button 
        routerLink="addProduct"
        mat-raised-button color="primary">Add Product</button>
    </div>
</div>
<div class="row">
  <div class="col-md-4" >
    <!-- <mat-card 
     [queryParams]="{canEdit:prod.canreturn}"
    [routerLink]="[prod.pid]"
    class="mb-3">
      <mat-card-content >
        {{ prod.pname }} 
      </mat-card-content>
    </mat-card> -->
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let prod of productArr">
        <mat-card 
    (click)="onProd(prod)"
    class="mb-3">
      <mat-card-content >
        {{ prod.pname }} 
      </mat-card-content>
    </mat-card>
      </li>
    </ul>
  </div>
  <div class="col-md-8">
    <router-outlet></router-outlet>
  </div>
</div>

