<div class="row">
    <div class="col-12 text-right mb-4">
        <button 
        routerLink="addProduct"
        mat-raised-button color="primary">Add Product</button>
    </div>
</div>
<div class="row">
<div class="col-md-4">
    
    <ng-container *ngIf="productArr && productArr.length > 0; else noProd">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let prod of productArr">
          <mat-card (click)="onProd(prod)" class="mb-3">
            <mat-card-content>
              {{ prod.pname }}
            </mat-card-content>
          </mat-card>
        </li>
      </ul>
    </ng-container>

    <ng-template #noProd>
      <p class="alert alert-info">No Prod</p>
    </ng-template>

  </div>
  <div class="col-md-8">
    <router-outlet></router-outlet>
  </div>
</div>


